

*{
	padding:0;
	margin:0;
	font-family:"Poppins", sans-serif;
	box-sizing:border-box;
}


body{
	background-color:rgba(133, 204, 133, 0.247);
}

.form{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.form > form {
	font-family:Arial, Helvetica, sans-serif;
	background-color:rgb(20, 65, 33);
	border-right:2px solid black;	
	box-shadow:1px 2px 10px black;
	border-bottom:2px solid black;
	width:50vw;
	height:60vh;
	margin-left:1px;
	display:flex;
	flex-flow:column;
	border-radius:10px;
	justify-content:center;
	align-items:center;
}

.form > form > h1{
	background-color:rgb(43, 43, 43);
	padding:10px 30px;
	color:white;
	transition:0.3s;
	border-radius:5px;
	border:2px black solid;
	box-shadow:1px -2px 2px black;
}

.form > form:hover > h1{
	background-color:white;
	color:black;
	transition:0.3s;

}

.form > form > div > input{
	width:15vw;
	background-color:transparent;
	border-bottom:2px solid white;
	padding:10px;
	box-shadow:1px 2px 1px black;
	margin:2px;
	border-top-right-radius:5px;
	border-bottom-right-radius:6px;
	outline:none;
	font-size:18px;
	align-content:center;
	border:none;
	padding-bottom:2px;
	color:white;

}

.form > form > div {
	background-color:rgba(0, 0, 0, 0.9);
	margin-top:10px;
}
form > div > span{
	padding:10px;
	background-color:rgb(9, 29, 12);
	color:rgb(15, 255, 67);
}

.form > .box-green{
	transition:0.3s;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	background-color:rgb(77, 158, 100);
	
	border-left:2px solid black;
	border-top:2px solid black;
	border-bottom:2px solid black;
	height:58vh;
	width:30vh;
	font-family: "Roboto", sans-serif;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	display:flex;
}

.box-green:hover{
	transition:0.3s;
	border-radius:5px;
	
	background-color:rgb(30, 175, 71);
}



.box-green > a{
	padding:10px 30px;
	background-color:transparent;
	color:black;
	font-weight:bolder;
	text-decoration:none;
	border:none;
	border:1px solid black;
	box-shadow:-1px 2px 3px black;
	border-radius:3px;
	transition:0.3s;
}

.box-green > a:hover{
	transition:0.3s;
	cursor:pointer;
	color:white;
	background:rgba(0, 0, 0, 0.9);
}

.box-green > p > span{
	display:block;
}

.box-green:hover > p >span.phrase{
	color:white;
	font-weight: bolder;
	
}

.form > form > a {
	padding:0.3rem 1rem;
	align-self:center;
	border:none;
	color:grey;
	font-weight:bolder;
	transition:0.3s;
	cursor:pointer;
	border-radius:2px;
	box-shadow:1px 2px 3px black;
	background-color:rgb(47, 80, 37);
	margin-right:14rem;
	margin-top:1.2rem;
}

.form > form > a:hover{
	background-color:rgb(88, 148, 70);
	color:white;
	transition:0.3s;
	box-shadow:2px 3px 5px black;
	transform:translate(2px,-5px)
}

.form > form > button {
	padding:10px 4rem;
	align-self:center;
	margin-left:14rem;
	border:none;
	color:grey;
	font-weight:bolder;
	transition:0.3s;
	cursor:pointer;
	border-radius:2px;
	box-shadow:1px 2px 3px black;
	background-color:rgb(47, 80, 37);
}

.form > form > button:hover{
	background-color:rgb(88, 148, 70);
	color:white;
	transition:0.3s;
	box-shadow:2px 3px 5px black;
	transform:translate(2px,-5px)
}