*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {

	background-color: rgba(133, 204, 133, 0.247);
}

.form {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    border:1px solid red;
}
.form>form {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(77, 133, 93);
	box-shadow: 1px 2px 10px black;
    border:1px solid black;
    border-radius:4px;
	width: 50vw;
	height: 60vh;
	margin-left: 1px;
    display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
    align-items:center;
    transition:0.3s;
}

.form > form:hover{
    background-color: rgb(77, 133, 93);
    transition:0.3s;
}

.form > form > div {
    display:flex;
    width:100vh;
    justify-content:center;
}
.form > form > div > input {
    outline:none;
    width:60%;
    padding:5px;
    box-shadow:0px 0px 10px 0px;
    
}

button {
	padding: 10px 30px;
	background-color: rgb(88, 148, 70);
	color: black;
    margin-top:10px;
	font-weight: bolder;
	text-decoration: none;
	border: none;
	border: 1px solid black;
	box-shadow: -1px 2px 3px black;
	border-radius: 3px;
	transition: 0.3s;
}
button:hover {
	transition: 0.3s;
	cursor: pointer;
	color: white;
	background: rgba(0, 0, 0, 0.9);
    transform:scale(1.1);
}

 a {
	padding: 5px 15px;
	background-color:grey;
	color: black;
    margin-top:10px;
	font-weight: bolder;
	text-decoration: none;
	border: none;
	border: 1px solid black;
	box-shadow: -1px 2px 3px black;
	border-radius: 3px;
	transition: 0.3s;
}

 a:hover {
	transition: 0.3s;
	cursor: pointer;
	color: rgb(13, 46, 105);
	transform:scale(1.1);
    background: rgba(255, 255, 255, 0.9);
}
